!!!
%html
  %head
    %title #{params[:term]} Group
    %link{:rel=>"stylesheet", :href=>"/stylesheets/style.css", :type=>"text/css", :media=>"screen", :charset=>"utf-8"}    
  %body
    %h1 Subjects descended from #{params[:term]}
    - related = []
    %ul
      - @terms.each do |term|
        - if term[:related_str]
          -related << term[:related_str]
        %li
          %a{:href=>"/lccn/#{term[:lccn]}"}= term[:label]
    - unless related.empty?
      - related.uniq!
      #relatedTerms
        %strong Related terms:
        %ul
          -related.each do |rel|
            %li
              %a{:href=>"/label/#{rel}"}= rel
          
        