!!! XML
%OpenSearchDescription{:xmlns=>"http://a9.com/-/spec/opensearch/1.1/"}
  %ShortName Search LC Authorities
  %Description Search Library of Congress names, subjects and uniform titles
  %Tags libraries authorities data
  %Url{:type=>"application/atom+xml", :template=>"http://fred.lcsubjects.org/search.atom?query={searchTerms}&amp;offset={startIndex}"}
